.speedDial {
  position: fixed;
  right: 3vmax;
  top: 3vmax;
}

.speedDialIcon {
  width: 56px;
  height: 56px;
  border-radius: 100%;
}
/* 
div > img {
  top: 450px;
  padding-left: 7%;
  padding-right: 0%;
  height: 40%;
  width: 90%;
  padding-bottom: 0;
} */

@media screen and (max-width: 600px) {
  /* div > img {
    top: 450px;
    padding-left: 7%;
    padding-right: 0%;
    height: 40%;
    width: 90%;
    padding-bottom: 0;
  } */
  .nav1,
  .nav2,
  .nav3,
  .nav4 {
    padding: 2vmax;
    height: 100vh;
    width: 33%;
    box-sizing: border-box;
    font-family: Roboto;
    z-index: 100;
    position: fixed;
    display: flex;
  }
}
